<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Prem Kumar/IdeaProjects/APIAutomationATB6X/src/test/java/com/apiautomation/tests/integration/TCIntegrationFlow.java">
        <classes>
            <class name="com.apiautomation.tests.integration.TCIntegrationFlow">
                <methods>
                    <include name="testCreateBooking"/>
                    <include name="testVerifyBookingID"/>
                    <include name="testUpdateBookingByID"/>
                    <include name="testDeleteBookingByID"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>